<div data-role="page" id="impress-date"  data-theme="a" >
  <div data-role="header">
    <h1>Impress your partner</h1>
  </div>
  <div role="content" class="ui-content">
    <div data-role="tabs" id="tabs">
      <div data-role="navbar">
        <ul>
          <li><a href="#map-tab" class="ui-btn-active" data-ajax="false">Map</a></li>
          <li><a href="#place-list-tab" data-ajax="false">List</a></li>
        </ul>
      </div>
      <div id="map-tab" class="ui-body-d ui-content">
        <h1 class="map-tab-desc"><span class="map-place-type"></span>s around you and <span class="partner-name"></span></h1>
        <div class="map-container"></div>
      </div>
      <div id="place-list-tab">
        <ul id="location-list" data-role="listview" data-inset="true">
        </ul>
      </div>
    </div>
  </div>
  <div data-role="footer" data-position="fixed" data-tap-toggle="false" class="jqm-footer">
      <h1>Copyright DextrousInc</h1>
  </div><!-- /footer -->
</div>
