<div data-role="page" id="users-login" data-theme="a" data-dialog="true">
    <div data-role="header">
      <h1>Login</h1>
    </div>
      <div role="main" class="ui-content">
        <form name="login-form">
          <label for="email">Email:</label>
          <input name="email" value="" type="text">
          <label for="password">Password:</label>
          <input name="password" value="" type="password">
        </form>
        <button class="ui-shadow ui-btn ui-corner-all login-submit-btn">Login</button>
      </div>
      <div data-role="footer"><h2>Copyright DextrousInc</h2></div>
  </div>
