<div data-role="page" id="interests-list" data-theme="a">
  <div data-role="header">
    <h1>User interests</h1>
    <a href="./" data-shadow="false" data-iconshadow="false" data-icon="carat-l" data-iconpos="notext" data-rel="back" data-ajax="false">Back</a></div>
    <div role="main" class="ui-content">
        <div class="user-interests-collapse" data-role="collapsibleset" data-theme="a" data-content-theme="a">
            <div data-role="collapsible">
                <h3>Section 1</h3>
                <p>
                  <ul data-role="listview">
                      <li>Acura</li>
                      <li>Audi</li>
                      <li>BMW</li>
                      <li>Cadillac</li>
                      <li>Ferrari</li>
                  </ul>
                </p>
            </div>
            <div data-role="collapsible">
                <h3>Section 2</h3>
                <p>
                  <ul data-role="listview">
                      <li>Acura</li>
                      <li>Audi</li>
                      <li>BMW</li>
                      <li>Cadillac</li>
                      <li>Ferrari</li>
                  </ul>
                </p>
            </div>
            <div data-role="collapsible">
                <h3>Section 3</h3>
                <p>
                  <ul data-role="listview">
                      <li>Acura</li>
                      <li>Audi</li>
                      <li>BMW</li>
                      <li>Cadillac</li>
                      <li>Ferrari</li>
                  </ul>
                </p>
            </div>
        </div>
    </div>
    <div data-role="footer"><h2>Copyright DextrousInc</h2></div>
</div>
